*
{
  margin: 20px;
  padding: 0;
  background-color: #ef9273;

}

.App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.box {
  width: 350px;
  height: 25rem;
  margin: 30px 30px 30px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  font-size: 1rem;
  text-align: center;
  background-color: #fef9f8;
  padding: 10px ;
  border-radius: 35px;
}

.box:hover
{
  transform: scale(1.1);
}

.grid-box {
  display: grid;
  grid-template-columns: auto auto auto;
}

.contents
{
  display: block;
  list-style-type: none;
  font-size: 20px;
  padding: 0 20px;
  color: #0d0d0d;
  align-items: center;
  background-color: #fef9f8; 
}

h1
{
  text-align: center;
  color: #0d0d0d;
  font-size: 45px;
}
h2
{
  text-align: center;
  font-weight: 10px;
}

button
{
  text-align: center;
  align-items: center;
  padding: 15px;
  background-color: #0d0d0d;
  color: #fef9f8;
  border-radius: 10px;

}

li
{
  background-color: #fef9f8; 
}

.image
{
  border-radius: 75px;
  width: 150px;
}

.loader
{
  text-align: center;
  align-items: center;
}